<div class="page-header">
    <h1>{{ isAllBillChecked ? 'All Bills' : 'Pending Bills' }}</h1>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <p>This bill will be deleted permanently.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteFromModal(id)">Confirm</button>
            </div>
        </div>

    </div>
</div>

<!-- show all bills check box -->
<div class="checkbox">
    <label>
        <input type="checkbox" name="allBillCheckBox" ng-model="isAllBillChecked" ng-click="allBillToggle(isAllBillChecked)"> Show All Bills
    </label>
</div>

<div>
<table class="table table-hover-blue">
    <thead>
    <tr>
        <th>ID</th>
        <th ng-show="isAllBillChecked">Status</th>
        <th>Owner</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Add Date</th>
        <th class="col-lg-2" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tr ng-repeat="bill in bills | orderBy: '-add_date'" ng-mouseenter="hoverRow(bill)" ng-mouseleave="hoverRow(bill)" style="height: 48px">
        <td style="vertical-align: middle">{{ $index + 1 }}</td>
        <td style="vertical-align: middle" ng-show="isAllBillChecked">
            <span ng-class="{'glyphicon glyphicon-ok success-color': (bill.pending == false)}" aria-hidden="true"></span>
        </td>
        <td style="vertical-align: middle">{{ bill.owner }}</td>
        <td style="vertical-align: middle">{{ bill.amount }}</td>
        <td style="vertical-align: middle">{{ bill.description }}</td>
        <td style="vertical-align: middle">{{ trimDate(bill.add_date) }}</td>
        <td style="vertical-align: middle; text-align: center">
            <div class="btn-group" ng-show="bill.isHovered">
                <button type="button" class="btn btn-default btn-sm" ng-click="toggleArchive(bill._id, bill.pending)">
                    {{ bill.pending ? 'Archive' : 'Unarchive'}}
                </button>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <!-- Trigger the modal -->
                        <a href="#" ng-click="recordBillId(bill._id)" class="small" data-toggle="modal" data-target="#deleteConfirmModal">Delete</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-muted" style="vertical-align: middle">
            {{ bills.length + 1 }}
        </td>
        <td ng-show="isAllBillChecked" style="vertical-align: middle">
            <input type="checkbox" name="isFinishCheckBox" ng-model="formData.pending"> Done
        </td>
        <td>
            <input type="text" class="form-control" placeholder="who owns this" ng-model="formData.owner">
        </td>
        <td>
            <input type="text" class="form-control" placeholder="amount due" ng-model="formData.amount">
        </td>
        <td>
            <input type="text" class="form-control" placeholder="what is it about" ng-model="formData.description">
        </td>
        <td class="text-muted" style="vertical-align: middle; text-align: center">
            --
        </td>
        <td style="text-align: center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="createBills()">
                    Add Bill
                </button>
            </div>
        </td>
    </tr>
</table>
</div>
